.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image{
    width: 100%;
    height: 400px;
    background-color: darkslategray;
}

button{
    font-size: 2em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
}