.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    margin: 48px;
}
.hero-image{
    width: 100%;
    height: 400px;
    background-color: darkslategray;
}

button{
    font-size: 2em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
}

.placeholder-content{
    display: flex;
    margin: 32px;
    align-items: center;
}

.placeholder-image{
    width: 50%;
    height: 400px;
    background-color: darkslategray;
    border-radius: 16px;
}

.placeholder-content p {
    padding: 32px;
}

.placeholder-content:nth-child(even){
    flex-direction: row-reverse;
}