@import 'css/theme.css';
@import 'css/layout.css';
@import 'css/modules.css';

body{
    margin: 0px;
    font-family: sans-serif;
}

nav{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

nav .links{
    display: flex;
    flex-direction: column;
    width: 65%;
    top: 0px;
    padding-top: 56px;
    z-index: -1;
    margin-left: auto;
    position: absolute;
    height: 100vh;
}

nav .home{
    text-decoration: none;
    font-size: 2em;
}


nav .links a{
    text-decoration: none;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background-color 0.12s;
    font-size: 1.5em;
}

.closedMenu{
    right: -65%;
}

.openMenu{
    right: 0%;
}

svg{
    cursor: pointer;
    margin-right: 24px;
}


@keyframes openMenuAnimation {
    0%{
        right: -65%;
    }
    100%{
        right: 0%;
    }
}

@keyframes closeMenuAnimation {
    0%{
        right: 0%;
    }
    100%{
        right: -65%;
    }
}

@media screen and (min-width: 1000px){
    nav .links{
        flex-direction: row;
        width: auto;
        position: static;
        padding-top: 0px;
        height: auto;
        padding: 12px;
        margin-right: 12px
    }

    nav .links a{
        border-radius: 4px;
        margin: 4px;
        padding: 8px;
    }

    svg{
        display: none;
    }
}